.bg-gradient-red{
    background: rgb(249,123,123);
    background: radial-gradient(circle, rgba(249,123,123,1) 0%, rgba(255,109,109,1) 7%, rgba(244,34,34,1) 68%, rgba(121,4,4,1) 100%);
  }
  
@font-face {
  font-family: "Energy";
  src: url("../fonts/LTEnergy.ttf") format("truetype")
}

@font-face {
  font-family: "Titling Bold";
  src: url("../fonts/built\ titling\ bd.ttf") format("truetype")
}

@font-face {
  font-family: "Titling Regular";
  src: url("../fonts/built\ titling\ rg.ttf") format("truetype")
}

@font-face {
  font-family: "Clemente Regular";
  src: url("../fonts/ClementePDai-Regular.ttf") format("truetype")
}


/* Section de contenu */

a{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.custom-content{
  padding: 50px;
}

.custom-informative-section-content{
  min-height: 700px;
}

.custom-image{
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 400px;
}

.custom-title{
  text-transform: uppercase;
  font-size: 5rem;
  font-family: "Titling Bold";
}

.custom-subtitle{
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Titling Bold";
}

.custom-description{
  font-size: 2rem;
  font-weight: normal;
  font-family: "Clemente Regular";
}

.custom-icon{
  margin-right: 10px;
}



/* Navbar */

.custom-navbar-content{
  padding-top: 20px;
  padding-bottom: 20px;
}

.custom-nav-button{
  font-size: normal;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 2px;
  border-radius: 20px;
  min-width: 100px;
}

.custom-nav-link{
  color: #F2F2F2;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

.custom-nav-link:hover{
  color: #F2F2F2;
  text-decoration: underline;
}



/* Footer */

.custom-footer-title{
  color: #F2F2F2;
  font-size: 1.75rem;
  margin-bottom: 30px;
  font-family: "Titling Regular";
}

.custom-footer-copyright{
  color: #F2F2F2;
}

.custom-hr-footer{
  background-color: #F2F2F2;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.custom-footer-link{
  color: #F2F2F2;
  text-decoration: none;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.custom-footer-link:hover{
  color: #F2F2F2;
  text-decoration: underline;
}



/* Formulaire */

.custom-form-input{
  margin-bottom: 20px;
}



/* Bouttons et background */

.custom-button{
  font-size: 1.25rem;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 2px;
  border-radius: 20px;
  min-width: 150px;
}

.custom-background-dark{
  background-color: #211626;
}

.btn-outline-dark{
  border-color: #211626;
  color: #211626;
}

.btn-dark{
  background-color: #211626;
  color: #F2F2F2;
}

.custom-text-dark{
  color: #211626;
}



.custom-background-danger{
  background-color: #D92344;
}

.btn-outline-danger{
  border-color: #D92344;
  color: #D92344;
}

.btn-danger{
  background-color: #D92344;
  color: #F2F2F2;
}

.custom-text-danger{
  color: #D92344;
}



.custom-background-light{
  background-color: #F2F2F2;
}

.btn-outline-light{
  border-color: #F2F2F2;
  color: #F2F2F2;
}

.btn-light{
  background-color: #F2F2F2;
  color: #211626;
}

.custom-text-light{
  color: #F2F2F2;
}



.custom-background-darkRed{
  background-color: #73172F;
}

.btn-outline-darkRed{
  border-color: #73172F;
  color: #73172F;
}

.btn-darkRed{
  background-color: #73172F;
  color: #f2f2f2;
}

.custom-text-darkRed{
  color: #73172F;
}



*{
  color: #211626;
  font-family: Arial, Helvetica, sans-serif;
}