RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?page=$1

php_value auto_prepend_file prepend.php
Options -Indexes 

<Files "config.yml">  
  Order Allow,Deny
  Deny from all
</Files>
